
.semQuizzProprio {
    margin: 0 195px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D5D5D5;
    background: #FAFAFA;
    border-radius: 5px;
    
}
.semQuizzProprio > h3 {
    width: 250px;
    height: 107px;
    font-size: 20px;
    color: #B9B9B9;
    display: flex;
    align-items: center;
    text-align: center;
}
.botaoCriarGrande {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #EC362D;
    cursor: default;
}
.comQuizzProprio {
    width: 1051px;
    margin: 0 auto;
}
.labelSeusQuizzes {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.labelSeusQuizzes h2 {
    margin-right: 17px;
    font-weight: 700;
    font-size: 20px;

}
.botaoCriarPequeno {
    width: 30px;
    height: 30px;
    color: #EC362D;
    cursor: default;
}
.listaSeusQuizzes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.listaSeusQuizzes img {
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px; 
    margin-bottom: 12px; 
}
.listaSeusQuizzes p {
    width: 340px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    bottom: 15px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(3, 3, 3));
    word-wrap: break-word;
    padding: 0 17px;
}
.listaSeusQuizzes li {
    position: relative;
}
.hidden{
    display: none;
}